.feature-headers-wrapper {
    grid-row-gap: 1rem;
    flex-direction: column;
    margin-bottom: 0.5rem;
    display: flex;
    position: relative;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.protocol-heading-content {
    width: 100%;
    margin-top: 30px;
    max-width: 64rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.paragraph-subheader {
    margin-left: auto;
    margin-right: auto;
}

.heading-style-h1 {
    font-size: 3rem;
    margin-top: -103px;
}

.heading-style-h1 {
    letter-spacing: .02rem;
    font-size: 5.5rem;
    font-weight: 700;
    line-height: .95;
    margin-top: -200px;
}

.container-large {
    margin-right: auto !important;
    margin-left: auto !important;
    width: fit-content;
    height: fit-content;
}



.container-large {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
}

.padding-section-large {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.padding-bottom {
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}

.padding-xxhuge {
    padding: 10rem;
}

.protocol-bg-blur {
    z-index: -1;
    width: 80rem;
    height: 10rem;
    max-width: 105rem;
    filter: blur(80px);
    /* background-color: #001aff; */
    border-radius: 50%;
    margin-left: -8rem;
    position: absolute;
    top: 0;
    bottom: auto;
    left: 0%;
    right: 0%;
}

.protocol-perks-content {
    width: 50%;
    grid-column-gap: 6rem;
    grid-row-gap: 3rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-left: auto;
    display: grid;
}


.protocol-wrapper {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    margin-top: -70px;
    position: relative;
    width: fit-content;
}

.cards_protocol-perk {
    grid-row-gap: 1.5rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.heading-style-h4 {
    letter-spacing: -.02em;
    font-family: Polysans median, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
}

.big-planet-wrapper {
    width: fit-content;
}

/* This is for the button  Starts*/
.buttonity {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #7d2ae8;
    transition: all 0.2s ease;
    width: 40%;
}

.buttonity:active {
    transform: scale(0.96);
}

.buttoity:before,
.buttonity:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.buttonity:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
        10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
            40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
            50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
            50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.buttonity:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%),
        radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
            70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
            105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
            110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

/* This is for the button Ends */